@model decelerate.Views.UserArea.IndexModel

<form method="post" id="sliderForm">
    <input type="range" class="custom-range" asp-for="SpeedChoice" id="sliderInput" min="-100" max="100" />
</form>
<div class="d-flex justify-content-between">
    <div class="sliderImageDiv">
        <img src="~/img/turtle.svg" class="sliderImage" alt="much slower" title="much slower" />
    </div>
    <div>&#10229; slower</div>
    <div class="sliderImageDiv">
        <img src="~/img/checkmark.svg" class="sliderImage" alt="perfect speed" title="perfect speed" />
    </div>
    <div>faster &#10230;</div>
    <div class="sliderImageDiv">
        <img src="~/img/rabbit.svg" class="sliderImage" alt="much faster" title="much faster" />
    </div>
</div>