@model decelerate.Views.UserArea.IndexModel
@{
    ViewData["Title"] = "User Area";
}

<div class="row">
    <div class="col-md-12">
        <h3>Welcome, @Model.JWTpayload.name!</h3>
        <p>Please use the slider to choose if you want the talk to be slower or faster:</p>
        <input type="range" class="custom-range" min="-100" max="100" value="0" id="sliderInput" />
        <div class="d-flex justify-content-between">
            <div class="sliderArrow">&#8593;</div>
            <div class="sliderArrow">&#8593;</div>
            <div class="sliderArrow">&#8593;</div>
        </div>
        <div class="d-flex justify-content-between">
            <div>slower</div>
            <div>perfect</div>
            <div>faster</div>
        </div>
    </div>
</div>