@model decelerate.Views.UserArea.IndexModel
@{
    ViewData["Title"] = "User Area";
}

<div class="row">
    <div class="col-md-12">
        <h3>Welcome to the user area, @Model.jwtPayload.name!</h3>
    </div>
</div>